.navigation-item {
  transition: 0.3s;
  border-radius: 6px;
}

.navigation-item-current {
  background-color: rgb(126, 155, 245);
  border: 3px;
  cursor: pointer;
}
.navigation-item:hover {
  background-color: rgb(126, 155, 245);
  border: 3px;
  cursor: pointer;
}

.navigation-item-current > .nav-link > i {
  color: whitesmoke;
}
.navigation-item-current > .nav-link > div {
  color: whitesmoke;
}

#navigation-icon {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 50px;
  font-weight: 500;
  font-family: "Noto Sans Kr";
  /* color: rgb(26, 48, 114); */
  color:whitesmoke
}
#navigation-icon:hover {
  color: whitesmoke;
}
#navigation-icon-active {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 50px;
  font-weight: 500;
  font-family: "Noto Sans Kr";
  background-color: rgb(126, 155, 245);
  border: 3px;
  color: whitesmoke;
}

.navigation-title {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
}

#navigation-user {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 56px;
  height: 41.05px;
  margin: 0px;
  padding: 0px;
}
