.sidebar {
  /* height: 354px; */
  width: 20vw;
  max-width: 280px;
  min-width: 266px;
  font-size: 1.2rem;
}

.sidebar-icon {
  display: flex;
  justify-content: flex-start;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 53.5px;
}

.small-sidebar {
  width: 56px;
}

.small-sidebar-icon {
  text-align: center;
  height: 53.5px;
}

.toggleBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 56px;
  height: 53.5px;
  color: white;
  transition: 0.3s;
}

.toggleBtn:hover {
  background-color: #0D6EFD;
  border:3px;
  border-radius: 25px;
  cursor: pointer;
}
