.navigation-icon {
  justify-content: flex-start;
  justify-items: center;
  align-content: center;
  align-items: center;
  height: 50px;
}

.navigation-title {
  display: flex;
  justify-items: flex-start;
  align-items: center;
  font-size: 1.3rem;
  font-weight: 600;
}

#navigation-user {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 56px;
  height: 41.05px;
  margin: 0px;
  padding: 0px;
}
